# Pre-processing

In [38]:
import pandas as pd
import re

In [39]:
df = pd.read_table('./rawdata/hummanjudgments.txt', sep='\t', header=None)
df

                             0    1
0    3609032038_005c789f64.jpg  4.2
1     241347204_007d83e252.jpg  3.4
2    2774554310_007e980a90.jpg  3.6
3    2431832075_00aa1a4457.jpg  4.0
4    2419221084_01a14176b4.jpg  4.2
..                         ...  ...
879   757046028_ff5999f91b.jpg  2.0
880  2054869561_ff723e9eab.jpg  1.8
881  2100816230_ff866fb352.jpg  2.0
882   929679367_ff8c7df2ee.jpg  2.8
883   270816949_ffad112278.jpg  2.0

[884 rows x 2 columns]

In [40]:
df.columns = ['id', 'humanscore']

In [41]:
df1 = pd.read_table('./rawdata/autocaption.txt', sep=':', header=None)
df1

                                                     0                    1
0    image/Flicker8k_all_resized/3385593926_d3e9c21...  在一个粉红色的背心的女孩在滑板上滑动。
1    image/Flicker8k_all_resized/2677656448_6b7e770...      一个游泳的男孩在游泳池里游泳。
2    image/Flicker8k_all_resized/311146855_0b65fdb1...   一个孩子在一个红色的衣服里拿着雨伞。
3    image/Flicker8k_all_resized/241347760_d44c8d3a...  一个穿着红色制服的足球运动员拿着足球。
4    image/Flicker8k_all_resized/2654514044_a70a6e2...         一只棕色的狗跳到草地上。
..                                                 ...                  ...
879  image/Flicker8k_all_resized/3727752439_9077956...       一个小女孩在走廊上跑了下来。
880  image/Flicker8k_all_resized/3430607596_7e4f74e...        一个女孩在一个海滩上跑过。
881  image/Flicker8k_all_resized/3259666643_ae49524...  一个戴着蓝色衬衫和墨镜的女人站在街上。
882  image/Flicker8k_all_resized/2623930900_b9df917...     一个女孩在游泳池里被带上了一次。
883  image/Flicker8k_all_resized/3490736665_38710f4...           一个人坐在人行道上。

[884 rows x 2 columns]

In [42]:
df1.columns = ['id', 'sentence']

In [43]:
result = []
for i in df1['id']:
    sentence = re.sub(r'image/.*/', "", i)
    result.append(sentence)

df1['id'] = result

df1

                            id             sentence
0    3385593926_d3e9c21170.jpg  在一个粉红色的背心的女孩在滑板上滑动。
1    2677656448_6b7e7702af.jpg      一个游泳的男孩在游泳池里游泳。
2     311146855_0b65fdb169.jpg   一个孩子在一个红色的衣服里拿着雨伞。
3     241347760_d44c8d3a01.jpg  一个穿着红色制服的足球运动员拿着足球。
4    2654514044_a70a6e2c21.jpg         一只棕色的狗跳到草地上。
..                         ...                  ...
879  3727752439_907795603b.jpg       一个小女孩在走廊上跑了下来。
880  3430607596_7e4f74e3ff.jpg        一个女孩在一个海滩上跑过。
881  3259666643_ae49524c81.jpg  一个戴着蓝色衬衫和墨镜的女人站在街上。
882  2623930900_b9df917b82.jpg     一个女孩在游泳池里被带上了一次。
883  3490736665_38710f4b91.jpg           一个人坐在人行道上。

[884 rows x 2 columns]

In [44]:
df_train = pd.merge(df, df1, how='inner', on=['id'])
df_train

                            id  humanscore              sentence
0    3609032038_005c789f64.jpg         4.2   一个人骑着摩托车上的道路是岩石的背景。
1     241347204_007d83e252.jpg         3.4   两家奥克拉荷马足球运动员越早谈越谈越。
2    2774554310_007e980a90.jpg         3.6           一个女孩在舞台上跳舞。
3    2431832075_00aa1a4457.jpg         4.0  一个孩子在一个红色的游戏结构滑了一幅画。
4    2419221084_01a14176b4.jpg         4.2     一只白色的狗在空中跳跃着一根棍子。
..                         ...         ...                   ...
876   757046028_ff5999f91b.jpg         2.0   一个年轻的孩子在一个轮胎秋千上微笑着。
877  2054869561_ff723e9eab.jpg         1.8         一只白色的狗在空中跳跃着。
878  2100816230_ff866fb352.jpg         2.0             一个滑雪跳到空中。
879   929679367_ff8c7df2ee.jpg         2.8             两只狗在户外玩耍。
880   270816949_ffad112278.jpg         2.0     一个孤独的旅行者走在岩石上的岩石。

[881 rows x 3 columns]

In [45]:
col_name = ['id', 'sentence', 'humanscore']
df_train = df_train[col_name]
df_train

                            id              sentence  humanscore
0    3609032038_005c789f64.jpg   一个人骑着摩托车上的道路是岩石的背景。         4.2
1     241347204_007d83e252.jpg   两家奥克拉荷马足球运动员越早谈越谈越。         3.4
2    2774554310_007e980a90.jpg           一个女孩在舞台上跳舞。         3.6
3    2431832075_00aa1a4457.jpg  一个孩子在一个红色的游戏结构滑了一幅画。         4.0
4    2419221084_01a14176b4.jpg     一只白色的狗在空中跳跃着一根棍子。         4.2
..                         ...                   ...         ...
876   757046028_ff5999f91b.jpg   一个年轻的孩子在一个轮胎秋千上微笑着。         2.0
877  2054869561_ff723e9eab.jpg         一只白色的狗在空中跳跃着。         1.8
878  2100816230_ff866fb352.jpg             一个滑雪跳到空中。         2.0
879   929679367_ff8c7df2ee.jpg             两只狗在户外玩耍。         2.8
880   270816949_ffad112278.jpg     一个孤独的旅行者走在岩石上的岩石。         2.0

[881 rows x 3 columns]

In [46]:
df_train.to_csv('data/train.csv', index=None)

In [47]:
df2 = pd.read_table('./rawdata/references.txt', sep='#|\s+')
df2

/Users/crius/opt/anaconda3/envs/python36/lib/python3.6/site-packages/pandas/io/parsers.py:767: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_csv(**locals())

ParserError: Expected 4 fields in line 149, saw 6. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.