# Pre-processing

In [48]:
import pandas as pd
import re
import csv

In [49]:
df = pd.read_table('./rawdata/hummanjudgments.txt', sep='\t', header=None)

df

                             0    1
0    3609032038_005c789f64.jpg  4.2
1     241347204_007d83e252.jpg  3.4
2    2774554310_007e980a90.jpg  3.6
3    2431832075_00aa1a4457.jpg  4.0
4    2419221084_01a14176b4.jpg  4.2
..                         ...  ...
879   757046028_ff5999f91b.jpg  2.0
880  2054869561_ff723e9eab.jpg  1.8
881  2100816230_ff866fb352.jpg  2.0
882   929679367_ff8c7df2ee.jpg  2.8
883   270816949_ffad112278.jpg  2.0

[884 rows x 2 columns]

In [50]:
df.columns = ['id', 'score']
df.to_csv('././data/train_score.csv', index=None)

In [51]:
df1 = pd.read_table('./rawdata/autocaption.txt', sep=':', header=None)

df1
# image/Flicker8k_all_resized/3385593926_d3e9c21170.jpg:在一个粉红色的背心的女孩在滑板上滑动。

                                                     0                    1
0    image/Flicker8k_all_resized/3385593926_d3e9c21...  在一个粉红色的背心的女孩在滑板上滑动。
1    image/Flicker8k_all_resized/2677656448_6b7e770...      一个游泳的男孩在游泳池里游泳。
2    image/Flicker8k_all_resized/311146855_0b65fdb1...   一个孩子在一个红色的衣服里拿着雨伞。
3    image/Flicker8k_all_resized/241347760_d44c8d3a...  一个穿着红色制服的足球运动员拿着足球。
4    image/Flicker8k_all_resized/2654514044_a70a6e2...         一只棕色的狗跳到草地上。
..                                                 ...                  ...
879  image/Flicker8k_all_resized/3727752439_9077956...       一个小女孩在走廊上跑了下来。
880  image/Flicker8k_all_resized/3430607596_7e4f74e...        一个女孩在一个海滩上跑过。
881  image/Flicker8k_all_resized/3259666643_ae49524...  一个戴着蓝色衬衫和墨镜的女人站在街上。
882  image/Flicker8k_all_resized/2623930900_b9df917...     一个女孩在游泳池里被带上了一次。
883  image/Flicker8k_all_resized/3490736665_38710f4...           一个人坐在人行道上。

[884 rows x 2 columns]

In [52]:
df1.columns = ['id', 'sentence']

df1

                                                    id             sentence
0    image/Flicker8k_all_resized/3385593926_d3e9c21...  在一个粉红色的背心的女孩在滑板上滑动。
1    image/Flicker8k_all_resized/2677656448_6b7e770...      一个游泳的男孩在游泳池里游泳。
2    image/Flicker8k_all_resized/311146855_0b65fdb1...   一个孩子在一个红色的衣服里拿着雨伞。
3    image/Flicker8k_all_resized/241347760_d44c8d3a...  一个穿着红色制服的足球运动员拿着足球。
4    image/Flicker8k_all_resized/2654514044_a70a6e2...         一只棕色的狗跳到草地上。
..                                                 ...                  ...
879  image/Flicker8k_all_resized/3727752439_9077956...       一个小女孩在走廊上跑了下来。
880  image/Flicker8k_all_resized/3430607596_7e4f74e...        一个女孩在一个海滩上跑过。
881  image/Flicker8k_all_resized/3259666643_ae49524...  一个戴着蓝色衬衫和墨镜的女人站在街上。
882  image/Flicker8k_all_resized/2623930900_b9df917...     一个女孩在游泳池里被带上了一次。
883  image/Flicker8k_all_resized/3490736665_38710f4...           一个人坐在人行道上。

[884 rows x 2 columns]

In [55]:
result = []
for i in df1['id']:
    sentence = re.sub(r'image/.*/', "", i)
    result.append(sentence)

df1['id'] = result

df1

                            id             sentence
0    3385593926_d3e9c21170.jpg  在一个粉红色的背心的女孩在滑板上滑动。
1    2677656448_6b7e7702af.jpg      一个游泳的男孩在游泳池里游泳。
2     311146855_0b65fdb169.jpg   一个孩子在一个红色的衣服里拿着雨伞。
3     241347760_d44c8d3a01.jpg  一个穿着红色制服的足球运动员拿着足球。
4    2654514044_a70a6e2c21.jpg         一只棕色的狗跳到草地上。
..                         ...                  ...
879  3727752439_907795603b.jpg       一个小女孩在走廊上跑了下来。
880  3430607596_7e4f74e3ff.jpg        一个女孩在一个海滩上跑过。
881  3259666643_ae49524c81.jpg  一个戴着蓝色衬衫和墨镜的女人站在街上。
882  2623930900_b9df917b82.jpg     一个女孩在游泳池里被带上了一次。
883  3490736665_38710f4b91.jpg           一个人坐在人行道上。

[884 rows x 2 columns]

In [56]:
df1.to_csv('././data/autocaption.csv', index=None)